body{
    /* background:red; */
    box-sizing: border-box;
}
*{
    margin:0;
    padding:0;
}
.container{
    /* padding:0; */
    margin:0;
    display:grid;
    grid-template-columns: 1fr ;
}
.flexbox{
    display:grid;
    grid-template-columns:1fr ;
    margin-bottom:1.5rem;
}
.box-2{
    border-radius:0;
}
.box-3{
    border-bottom-left-radius: 10px;;
}
footer{
    text-align: center;
}
@media(max-width:300px)
{
    .container{
       position:absolute;
       top:5%;
       left:12%;
       /* padding:1rem; */
    }
 
}