body{
    box-sizing: border-box;
   background: hsl(227, 11%, 84%);
}
p{
    margin:0;
    padding:0;
}

.container{
   /* display:block; */
   /* margin:auto; */
  /* align-items: center; */
  position:absolute;
  top:10%;
  left:22%;
   /* background: white; */
   /* border:black 20px solid; */
    height:59%;
    width:50%;
    /* padding:1rem; */
    border-radius:20px;
    display:grid;


}


.box-1{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    background:white;
    padding:2rem;
}
.primary-b-1
{
    color:teal;
    font-size: 1.5rem;;
}
.secondary-b-1
{
    color:hsl(71, 73%, 54%);
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
.text-b-1
{
    color:gray;
}

.flexbox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* background: teal; */
    /* border-bottom-radius: 5px;; */
   /* flex-wrap: wrap;
   justify-content: center;
   align-items: center; */
}
.box-2
{
   padding:2rem;
   /* color:white; */
   color:hsl(217, 15%, 83%);
   background: teal;
   border-bottom-left-radius: 10px;
}
.primary-b-2{
    color:white;
    font-size:1.2rem;
}
.secondary-b-2{
    color:white;
    font-size:2rem;
}
.text-b-2{
    color:hsl(220, 23%, 92%);
    padding:0.5rem 0rem;;
}
.sign-up{
    margin-top:1.2rem;
    padding:1rem;
    width:70%;
    color:white;
    font-size:1rem;
    background:hsl(71, 73%, 54%);
    border-radius: 10px;
}
.box-3
{
    padding:2rem;
    /* background:rgba(255,255,255,0.5); */
    background: rgb(80, 182, 182);
    border-bottom-right-radius: 10px;
}
.primary-b-3{
    color:white;
    font-size:1.5rem;
}
.text-b-3{
    color:hsl(216, 31%, 90%);
    line-height: 1.6;
}

footer{
    /* position:relative;
    top:70%;
    left:36%; */
    padding:0.5rem;
    margin-top:1rem;
    
}